{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            {% for article in articles %}
            <div class="blog-post d-flex flex-column justify-content-between">
                <div class="blog-title">{{ article.title }}</div>
                <div class="blog-author-date">
                    <div class="blog-author">Author: {{ article.author }}</div>
                    <div class="blog-date">Date Created: {{ article.date_created|date:"F j, Y, g:i a" }}</div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="blog-content">
                            {{ article.content|safe }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="https://picsum.photos/205/115" alt="Random Image">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-none d-lg-block col-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus quia ratione veritatis harum. Quisquam similique iure vitae fugit sed rem consequatur dignissimos earum hic. Vero dicta accusantium neque aliquid nam.</div>
    </div>
</div>
{% endblock content %}